body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bd-callout {
  --bs-link-color-rgb: var(--bd-callout-link);
  --bs-code-color: var(--bd-callout-code-color);
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: var(--bd-callout-bg, var(--bs-gray-100));
  border-left: 0.25rem solid var(--bd-callout-border, var(--bs-gray-300));
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout > :last-child {
  margin-bottom: 0;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout .highlight {
  background-color: rgba(0, 0, 0, 0.05);
}

.bd-callout-info {
  --bd-callout-color: #6edff6;
  --bd-callout-bg: #032830;
  --bd-callout-border: #087990;
}

.carousel-vid-custom {
  width: 100%;
  max-height: 500px;
}

.carousel-vid-custom::-webkit-media-controls {
  position: absolute;
  bottom: 30px; /* Adjust as per your need */
}
.carousel-vid-custom::-webkit-media-controls-enclosure {
  position: absolute;
  bottom: 30px; /* Adjust as per your need */
}

.carousel-img-custom {
  max-height: 500px;
}
